.tab-container {
    display: flex;
    height: 100%;
}

.tab-content {
    flex: 1;
    overflow: hidden;
    display: none; /* Ensure non-active tabs are hidden */
}

.tab-content.active {
    display: block;
}

.tab-buttons {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab-header {
    display: flex;
    align-items: center;
}

.tab-buttons button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.tab-buttons .active {
    background-color: #eee;
}

.close-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
}
